<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pinky | Add Step</title>
  <% include ../partials/head %>
</head>
<body class="container">
  <header><% include ../partials/header %></header>
    <main>
      <div class="row">
        <div class="col-md-12">
          <form action="/step/add" method="post">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Question</label>
              <textarea required name="question" type="text" style="resize: none" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Step ID</label>
              <input required type="number" name="step_id" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Step Type</label>
              <select class="form-control" id="exampleFormControlSelect1" name="step_type" required>
                <option value="text">Text</option>
                <option value="image">Image</option>
              </select>
            </div>
            <div class="form-group">
              <label for="image_url">Image URL</label>
              <input required type="text" name="image_url" class="form-control" id="image_url">
            </div>

            <div align="right">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  <footer><% include ../partials/footer %></footer>
</body>
</html>
