<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pinky | Edit Step</title>
  <% include ../partials/head %>
</head>
<body class="container">
  <header><% include ../partials/header %></header>
    <main>
      <div class="row">
        <div class="col-md-12">
          <% step.forEach(function (row) { %>
          <form action="/step/edit/<%= row.step_id %>" method="post">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Question</label>
              <textarea name="question" type="text" style="resize: none" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= row.question %></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Step ID</label>
              <input value="<%= row.step_id %>" type="number" name="step_id" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Step Type</label>
              <select class="form-control" id="exampleFormControlSelect1" name="step_type">
                <option <% if (row.step_type == 'text') { %> selected <% } %> value="text">Text</option>
                <option <% if (row.step_type == 'image') { %> selected <% } %> value="image">Image</option>
              </select>
            </div>
            <div class="form-group">
              <label for="image_url">Image URL</label>
              <input value="<%= row.image_url %>"  type="text" name="image_url" class="form-control" id="image_url">
            </div>

            <div align="right">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
          <% }) %>
        </div>
      </div>
    </main>
  <footer><% include ../partials/footer %></footer>
</body>
</html>
