<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">PINKY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <% if (title == 'step' ) { %> active <% } %>">
        <a class="nav-link" href="/steps">Steps</a>
      </li>
      <li class="nav-item <% if (title == 'answer' ) { %> active <% } %>">
        <a class="nav-link" href="/answers">Answers</a>
      </li>
      <li class="nav-item <% if (title == 'user' ) { %> active <% } %>">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item <% if (title == 'activity' ) { %> active <% } %>">
        <a class="nav-link" href="/activities">Activities</a>
      </li>
    </ul>
  </div>
</nav>
