<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pinky | Users</title>
  <% include ../partials/head %>
</head>
<body class="container">
  <header><% include ../partials/header %></header>
    <main>
      <!-- <div class="row">
        <div class="col-md-12">
          <a href="add_answer" type="button" class="btn btn-primary" style="float: right; margin: 10px 0" target="_blank">
            + Add Answer
          </a>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Profile Picture</th>
                <th>Locale</th>
                <th>Timezone</th>
                <th>Gender</th>
                <th>Page Scope ID</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < users.length; i++) { %>
                <tr>
                  <td><%= users[i].first_name %></td>
                  <td><%= users[i].last_name %></td>
                  <td>
                    <img width="100px" src="<%= users[i].profile_pic %>" />
                  </td>
                  <td><%= users[i].locale %></td>
                  <td><%= users[i].timezone %></td>
                  <td><%= users[i].gender %></td>
                  <td><%= users[i].id %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  <footer><% include ../partials/footer %></footer>
</body>
</html>
