<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pinky | Activities</title>
  <% include ../partials/head %>
</head>
<body class="container">
  <header><% include ../partials/header %></header>
    <main>
      <!-- <div class="row">
        <div class="col-md-12">
          <a href="add_answer" type="button" class="btn btn-primary" style="float: right; margin: 10px 0" target="_blank">
            + Add Answer
          </a>
        </div>
      </div> -->

    <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Page Scope ID</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Created At</th>
                <th>Remind At</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < activities.length; i++) { %>
                <tr>
                  <td><%= activities[i].psid %></td>
                  <td><%= activities[i].step_id %></td>
                  <td><%= activities[i].answer %></td>
                  <td><%= activities[i].timestamp %></td>
                  <td><%= activities[i].reminderDate %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  <footer><% include ../partials/footer %></footer>
</body>
</html>
