<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pinky | Add Answer</title>
  <% include ../partials/head %>
</head>
<body class="container">
  <header><% include ../partials/header %></header>
    <main>
      <div class="row">
        <div class="col-md-12">
          <form action="/answer/add" method="post">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Step</label>
              <select class="form-control" id="exampleFormControlSelect1" name="step_id" required>
                <% for(var i = 0; i < steps.length; i++) {%>
                <option value="<%= steps[i].step_id %>"><%= steps[i].question %></option>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="answer_id">Answer ID</label>
              <input required type="text" name="answer_id" class="form-control" id="answer_id">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Answer</label>
              <input required type="text" name="answer" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword2">Payload</label>
              <input required type="text" name="payload" class="form-control" id="exampleInputPassword2">
            </div>

            <div align="right">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  <footer><% include ../partials/footer %></footer>
</body>
</html>
