<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pinky | Answers</title>
  <% include ../partials/head %>
</head>
<body class="container">
  <header><% include ../partials/header %></header>
    <main>
      <div class="row">
        <div class="col-md-12">
          <a href="add_answer" type="button" class="btn btn-primary" style="float: right; margin: 10px 0" target="_blank">
            + Add Answer
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Answer ID</th>
                <th>Answer</th>
                <th>Payload</th>
                <th>Step ID</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < answers.length; i++) { %>
                <tr>
                  <td><%= answers[i].answer_id %></td>
                  <td><%= answers[i].answer %></td>
                  <td><%= answers[i].payload %></td>
                  <td><%= answers[i].step_id %></td>
                  <td>
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="/edit_answer/<%= answers[i].answer_id %>">Edit</a>
                        <a class="dropdown-item" href="/answer/delete/<%= answers[i].answer_id %>">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  <footer><% include ../partials/footer %></footer>
</body>
</html>
